<div class="order">
  <h2>Id: {{order.id}}</h2>
  <p>First name: {{order.firstName}}</p>
  <p>Last name: {{order.lastName}}</p>
  <p>Dishes: {{order.dishIds}}</p>
  <p>Date: {{order.date}}</p>
  <p>City: {{order.city}}</p>
  <p>Street: {{order.street}}</p>
  <p>Telephone: {{order.telephone}}</p>
  <p>Email: {{order.email}}</p>
  <p>Status: {{order.state}}</p>
</div>
<button (click)="changeStatusOfOrderToAccepted()">Accepted</button>
<button (click)="changeStatusOfOrderToSent()">Sent</button>
<button (click)="changeStatusOfOrderToDelivered()">Delivered</button>

<button (click)="navigateToOrderList()">Back</button>
