<header>
  <span>VegePizza</span>
  <div>
    <input class="button" type="button" (click)=navigateToMenu() value="Menu" />
    <input class="button" type="button" (click)=navigateToLogin() value="Login" />
    <input class="button" type="button" (click)=navigateToOrderList() value="Order List" />
    <button href="#" (click)="getPizza($event)" class="getPizza">Pizza</button>
    <button href="#" (click)="getNoodles($event)" class="getNoodles">Noodles</button>
  </div>
</header>
<div class="menu-container">
  <h2>Menu</h2>
  <p>Choose your favourite veggie dish!</p>

  <table class="menu">
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Availability</th>
      <th>Description</th>
      <th>Type</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let dish of (menuService.dishes$ | async)">
      <td *ngIf="dish.isAvailable === true">{{dish.id}}</td>
      <td *ngIf="dish.isAvailable === true">{{dish.name}}</td>
      <td *ngIf="dish.isAvailable === true">{{dish.isAvailable}}</td>
      <td *ngIf="dish.isAvailable === true">{{dish.description}}</td>
      <td *ngIf="dish.isAvailable === true">{{dish.type}}</td>
      <td *ngIf="dish.isAvailable === true">{{dish.price}}</td>
      <td *ngIf="dish.isAvailable === true"><button href="#" (click) ="navigateToDetails(dish.id)">Details</button></td>
    </tr>
    <button href="#" (click)="addNewDish($event)" class="newDish">Add new dish</button>
  </table>
</div>
<router-outlet></router-outlet>
