<div class="header">
  <a class="logo">VegePizza</a>
  <div class="header-right">
    <div class="dropdown">
      <a class="menu" type="button" (click)=navigateToMenu()>Menu</a>
      <div class="dropdown-content">
        <button href="#" (click)="getPizza($event)" class="getPizza">Pizza</button>
        <button href="#" (click)="getNoodles($event)" class="getNoodles">Noodles</button>
      </div>
    </div>
    <a class="nav-button" type="button" (click)=navigateToMyOrders()>My Orders</a>
    <a class="nav-button" type="button" (click)=navigateToMakeAnOrder()>Make an Order!</a>
    <a class="nav-button" type="button" (click)=navigateToLogin()>Login</a>
  </div>
</div>

<div class="menu-container">

  <h1>MENU</h1>

  <p>Choose your favourite veggie dish!</p>

  <table class="menu-table">
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Price</th>
      <th></th>
    </tr>
    <tr *ngFor="let dish of (menuService.dishes$ | async)">
      <td *ngIf="dish.isAvailable === true">{{dish.id}}</td>
      <td *ngIf="dish.isAvailable === true">{{dish.name}}</td>
      <td *ngIf="dish.isAvailable === true">{{dish.description}}</td>
      <td *ngIf="dish.isAvailable === true">{{dish.type}}</td>
      <td *ngIf="dish.isAvailable === true">{{dish.price}}</td>
      <td *ngIf="dish.isAvailable === true"><button class="addToCart" href="#" (click) ="addDishToCart(dish)">Add to cart</button></td>
    </tr>
  </table>
</div>
<h1></h1>
<h1></h1>
<h1></h1>
<app-cart></app-cart>







