button {
  background-color: darkolivegreen;
  color: white;
  margin-left: 10px;
}
h2 {
  font-family: Arial;
  color: darkolivegreen;
}
th, td, h1 {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: darkolivegreen;
}
